In [16]:
import pandas as pd

data = {'length': [168.5,168.4,168.0],
             'width': [64.5, 64.5, 64.7],
             'height': [48.5, 48.6, 48.1] }

df = pd.DataFrame(data)
df

   length  width  height
0   168.5   64.5    48.5
1   168.4   64.5    48.6
2   168.0   64.7    48.1

In [8]:
## ----------- Decimal Scaling  ----------- ##
df['length'] = df['length'] / df['length'].max()
df

     length  width  height
0  1.000000   64.5    48.5
1  0.999407   64.5    48.6
2  0.997033   64.7    48.1

In [14]:
## ----------- Min - Max  ----------- ##
df['length'] = (df['length'] - df['length'].min()) / (df['length'].max() - df['length'].min())
df

   length  width  height
0     1.0   64.5    48.5
1     0.8   64.5    48.6
2     0.0   64.7    48.1

In [17]:
## ----------- z-score  ----------- ##
df['length'] = (df['length'] - df['length'].mean()) / df['length'].std()
df

     length  width  height
0  0.755929   64.5    48.5
1  0.377964   64.5    48.6
2 -1.133893   64.7    48.1